.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.dropbtn {
  background-color: #ff5003;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 300px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 300px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1ab;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fc7338;
}
a {
  background:
    linear-gradient(
      to right,
      rgb(255, 255, 255),
      rgba(236, 12, 12, 0.4)
    ),
    linear-gradient(
      to right,
      #003f7d,
      #f1f1f1,
      #ff8E00
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 600ms;
  text-decoration: none;
}

a:link {
  color: mintcream;
}
a:visited {
  color: rgba(155, 136, 137);
  opacity: 0.2;
  
}
a:hover {
  background-size: 0 3px, 100% 3px;
  
}
a:active {
  color: #003f7d;
  opacity: 0.7;
}

.login-container {
  text-align: center;
  font-size: large;
}