:root {
  --bg-athlete: #f0f7fe;
  --add: rgb(0, 110, 255);
  --initial: #003f7d;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.material-icons {
  cursor: pointer;
}


/*** athletes.html ***/

#title-page * {
  margin: 8px;
}

.athlete-card {
  margin: 0;
  margin-left: 10px;
  padding: 2px;
  width: 95%;
  height: auto;
  background-color: var(--bg-athlete);
  border: 1px white solid;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 50px 1fr 30px;
}

.athlete-img-container {
  padding: 8px;
  margin: 2px;
  /* background-color: white; */
  width: 50px;
  height: 50px;
  text-align: center;
}

.athlete-card-image {
  width: 100%;
}

.athlete-card-info {
  margin: 8px;
}
.athlete-card-name{

  font-weight: bolder;
}
.athlete-card-bio-info {
  font-size: 11px;
}
.athlete-card p {
  margin-bottom: 2px;
  font-size: 14px;
  display: block;
}

.add-button {
  color: var(--add);
  margin-top: 15px;
}

.athlete-img a {
  text-decoration: none;
}

/*** athlete-info.html ***/

#athlete-img-container {
  display: flex;
  align-items: center;
}
#athlete-image {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* width: auto; */
  padding: 20px;
  margin-bottom: 30px;
  background-color: var(--bg-athlete);
  border-radius: 10px;
}
#athlete-bio {
  padding: 30px;
}
#athlete-info p {
  margin-bottom: 0.5rem;
  font-family: 'Fugaz One', cursive;
}
#athlete-info span {
  margin-left: 10px;
}