
/* league selections fro current user */
.league-btn {
    margin: auto;
    width: 30%;
    padding: 10px;
    align-items: center;
}

/* myteam.html chart */
.myteamChart {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
  }


button {

}
th {

}
tbody {
}
td {

}