/* league selections from current user */
.league-btn {
  margin: auto;
  width: 30%;
  padding: 10px;
  align-items: center;
}

/* Dropdown Button */
.dropbtnLeagues {
  background-color: #003f7d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdownLeagues {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-leagues {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-leagues a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-leagues a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdownLeagues:hover .dropdown-leagues {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownLeagues:hover .dropbtnLeagues {background-color: #3e8e41;}

/* myteam.html chart */
/* .myteam-table {
  margin: auto;
  width: 50%;
  padding: 10px;
  align-items: center;
} */

#leagues-dropdown-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}