*{
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.dropbtn {
  background-color: #ff5003;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 300px;
  text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #ff5003;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1ab;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #fc7338;
}
.dropdown-content a {
  background:
    linear-gradient(
      to right,
      #003f7d,
      #f1f1f1
      
    ),
    linear-gradient(
      to right,
      #ff8E00,
      #f1f1f1,
      #003f7d
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 600ms;
  text-decoration: none;
}

a:link {
  color: #ff8E00;
}
a:visited {
  color: rgba(155, 136, 137);
  opacity: 0.2;
  
}
a:hover {
  background-size: 0 3px, 100% 3px;
  
}
a:active {
  color: #003f7d;
  opacity: 0.7;
}
.img{
  margin-right: 40px;
}

/* Up for changes, but trying to make the whole page a certain background with the image within the Backgrounds folder. But not able to */
body {
  background-image: image-set("./images/Backgrounds/OlympicstandingGrey");
  opacity: 0.95;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Below containerlogin, wanting to add a border around the signup/login  */
#containerlogin{ 
  border: #003f7d 1px;
}